.modal-wrapper {
  padding: 1em;
  background-color: white;
  border: 5px solid #741188;

  border-radius: 10px;
  display: inline-block;
}

.modal-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;

  background-color: rgba(31, 31, 31, 0.7);

  /*modal fixed*/
  z-index: +1;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-ok {
  background-color: white;
  border: none;
  border-radius: 1px;

  cursor: pointer;
}

.modal-ok:active {
  background-color: gray;
  cursor: default;
}
