.entry {
  padding: 0.5em;
  padding-left: 2em;
  margin: 0.3em;
  width: 20vw;
  text-align: left;

  cursor: grab;
}

.name {
  font-style: italic;
}

.age {
  font-weight: bold;
}

.entry-border {
  border: 1px solid gray;
  border-radius: 15px;

  background-color: gray;
  margin: 3px;
}
